/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    width:1200px;
    margin:auto;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav {
  margin: 40px 0px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}
nav a{
    text-decoration: none;
    color:black;
}
.logo_title {
  width: 200px;
}

.img_hero{
    width:1200px;
}
li {
  list-style: none;
}

.project_text_container{
    width:800px;
    margin:auto;
}

h1{
    margin:auto;
}

