/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav {
  margin: 40px 0px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
nav a{
    text-decoration: none;
}
.logo_title {
  width: 200px;
}

li {
  list-style: none;
}

