/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 1200px;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(boats.jpg) no-repeat, url("img/hero.jpg");
  background-size: contain;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar {
  display: flex;
  flex-direction: row;

}

nav {
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 450;
  font-style: normal;
  background-color: #f8f8f8;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 50px;
}
.logo_title {
  width: 200px;
}

.img_hero {
  width: 1200px;
}
li {
  list-style: none;
}

.project_text_container {
  width: 500px;
  margin: auto;
}

h1 {
  margin: auto;
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.calendar {
  margin-top: 50px;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 800px) {
  html {
    width: 100%;
  }

  

  header {
    
    width: 100%; /* Ajustez la largeur selon vos besoins */
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    background-image: url('img/hero.jpg')linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size: cover;
    background-position: center;
  }

  .navbar {
    display: grid;
  }

  nav {
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 450;
    font-style: normal;
    background-color: #f8f8f8;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 20px;
  }
  .project_text_container {
    width: 100%;
    padding:10px;
  }

  .img_hero {
    width: 100%;
    height: auto;
  }
}
